@font-face {
  font-family: 'cloud3dots';
  src:  url('fonts/cloud3dots.eot?vivvc7');
  src:  url('fonts/cloud3dots.eot?vivvc7#iefix') format('embedded-opentype'),
    url('fonts/cloud3dots.ttf?vivvc7') format('truetype'),
    url('fonts/cloud3dots.woff?vivvc7') format('woff'),
    url('fonts/cloud3dots.svg?vivvc7#cloud3dots') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="c3d-"], [class*=" c3d-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cloud3dots' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c3d-cloud3dots:before {
  content: "\e900";
}
.c3d-blue-lodge:before {
  content: "\e901";
}
