@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vivvc7');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vivvc7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?vivvc7') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?vivvc7') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?vivvc7##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="c3d-"], [class*=" c3d-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c3d-cloud3dots {
  &:before {
    content: $c3d-cloud3dots; 
  }
}
.c3d-blue-lodge {
  &:before {
    content: $c3d-blue-lodge; 
  }
}

